html,
  body {
    font-weight: bolder;
    height: 100%;
    width: 100%;
    padding: 20px;
  }
  body {
    background-color: #e6e6f9;
  }

  .container-fluid {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .one {
    flex-grow: 1;
  }

  .two {
    flex-shrink: 0;
  }

  #dev {
    text-align: right;
  }

  #contact {
    text-align: right;
  }

  a {
    outline: none;
    text-decoration: none;
  }

  a:link {
    color: black;
  }

  a:visited {
    color: black;
  }
